@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.container {
  max-width: 1340px;
}
p,
strike {
  font-size: 13px;
  color: #727272;
}
h1,
h2 {
  font-size: 35px;
  font-weight: 600;
  color: #181823;
}

h2 {
  font-size: 28px;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
b {
  color: #181823;
}
.badge {
  top: -5px;
  right: -5px;
}
.hero {
  height: 340px;
}

.image-hero {
  left: 50%;
  transform: translate(0%, -50%);
}
.add-to-cart {
  background-color: hsl(0, 0%, 100%, 0.2);
  transform: translate(-70%, -0%);
  top: -10rem;
  right: 5rem;
}
@media screen and (max-width: 707px) {
  .image-hero {
    left: 50%;
    transform: translate(40%, -50%);
  }
  .add-to-cart {
    transform: translate(100%, -0%);
  }
}

@media screen and (max-width: 639px) {
    p{
        font-size: 12px;
    }
    .image-hero {
      left: 50%;
      transform: translate(45%, -50%);
    }
    .add-to-cart {
        top: -35%;
         right: 50%;
      transform: translate(120%, 0%);
    }
  }
.plus {
  outline: 6px solid rgba(255, 255, 255, 0.3);
}
.slides {
  transform: translate(-50%);
}
.product-slide {
  width: 50vw;
  height: 30vh;
}
footer {
  height: 40vh;
}
footer a {
  color: #727272;
}
footer li {
  margin-bottom: 0.3rem;
}
footer a:hover {
  color: #181823;
  font-weight: 500;
}
.wishlist-product {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.lightbox {
  position: relative;
}
.lightbox::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008e;
  z-index: 10;
}
